  .heading
  {
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    padding: 10px;
    color: black;
    box-shadow:5px 5px 5px rgb(120, 135, 248);
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(28, 145, 248);
    font-size: 20px;
  }
 
body{
  background-size: 1200px;
  background-position: center;
  }

.result_para_tag span{
  white-space: pre-line;
}

.copy_right_footer{
  position: fixed;
  font-weight:bold;
  bottom:0;
  width: 100%;
  background-color: rgb(69, 143, 174);
  line-height: 2.3;
  text-align: center;
}

canvas{
  border: 5px solid rgba(10, 61, 108, 0.748);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(199, 144, 42);
  margin-top: 115px;
}